{% extends 'skillsApp/main.html' %}

{% block content %}
    <body>
        <div style="display: flex; justify-content: center; align-items: center; height: 40vh;">
            <div>
                <h2 style="text-align: center;">Are you sure you want to delete this ticket?</h2>
                <form method="POST" style="display: flex; flex-direction: column; align-items: center;">
                    {% csrf_token %}
                    <div style="display: flex; justify-content: center; width: 100%;">
                        <button type="submit" style="margin-right: 10px;">Yes, delete</button>
                        <button type="button" onclick="location.href='{% url 'home' %}'">No, go back</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}